
.header {
    position: fixed;
    right: 50px;
    top: 50px;

    @media (max-width: 768px) {
        right: 20px;
        top: 20px;
    }

    .menu {
        width: 480px;
        height: 650px;
        background-color: #c9fd74;
        border-radius: 25px;
        position: relative;

        @media (max-width: 768px) {
            width: 90vw;
            height: 90vh;
        }

        @media (max-width: 480px) {
            width: 100vw;
            height: 100vh;
            border-radius: 25px;
        }
    }
}
